.body{
    width: 1440px;
}

.header {
    width: 1440px;
    height: 90px;
    flex-shrink: 0;
    background: #0C0C0E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*не работает с 4м 0px*/
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.nav-link{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: #BB945F;
    font-style:unset;
}

.nav-list{
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
}

.nav-icon {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-right: 20px;
    margin-top: 31px;
    margin-bottom: 31px;
}

.image_container {
    width: 1438px;
    height: 598px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    overflow: hidden;
    position: relative;


}

.image_container img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1438px;
    height: 598px;
    object-fit: cover;

}

.gradient_text {
    background-size: cover;
    border: 1px solid #000;
    background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    
}

.welcome_text {
    position: absolute;
    width: 520px;
    height: 150px;
    flex-shrink: 0;
    top: 255px;
    left: 40px;
 
    color: #fff;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;

}

h2{
    text-align: center;
}

.line{
    
}


.coffeShop-text{
    width: 1400px;
    height: 120px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;

}