/*Общие стили, сброс стилей браузера по умолчанию:*/
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
 }
/* .body {
    padding-left: 0;
} */
.main-content {
    /* padding: 0 20px; */
}

.header {
    width: 100%;
    height: 90px;
    flex-shrink: 0; /*указывает, в каких пропорциях элемент будет уменьшаться*/
    background: #0C0C0E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
    }
}
.header__container{
    display: contents;
    justify-content: space-between;
}

h1{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*не работает с 4м 0px*/
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/*NAVIGATION*/
.nav-link{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: #BB945F;
    font-style:unset;
}  

.nav-list{
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
}

.nav-icon {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-right: 20px;
    margin-top: 31px;
    margin-bottom: 31px;
}

/*BURGER*/
.burger {
    display: none;
    width: 45px;
    height: 6px;
    /* top: ; */
}

.burger__line, .burger:after, .burger:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 45px;
    border: 2px solid #ffffff;
}

.burger:before {
    top: 40px;
  }

.burger:after {
    top: 60px;
  }

@media (max-width: 768px) {
    .burger {
        display: block;
    }
    .nav-list {
        flex-direction: column;
        width: 118px;
        height: 370px;
        gap: 0;
        padding: 100px 100px 0;
    }
    .nav {
        position: fixed;
        width: 332px;
        height: 570px;
        top: 0;
        right: 0;
        background: #000;
        z-index: 10;
        margin-top: 8px;
        margin-right: 8px;
        transform: translateX(103%); /* меню скрыто вправо*/
        transition: 0.3s linear;
    }
/*выезжает меню - active*/
    .nav-opened {
        transform: translateX(0%);
        transition: 0.3s linear;
    }

    .nav-item {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;

    }

    .nav-item:last-child {
        margin-bottom: 0;
    }
    .nav-link {
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 250% */
        cursor: pointer;
        text-decoration: none;
    }

    .nav-close {
        width: 32px;
        height: 32px;
        top: 31px;
        left: 280px;
        position: absolute;
        z-index: 11;
    }

    .nav-close-line {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #FFFFFF;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-close-line:first-child {
        transform: translateY(50%) rotate(45deg);
    }

    .nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

}

/*WELCOME*/
.welcome_container {
    /* width: 100%; */
    height: 598px;
    position: relative;
    background-size: cover;
    border-top: 1px solid #000;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 50%), center / cover no-repeat url(Assets/img/Welcome.jpg);
}

@media (max-width: 768px) {
    .welcome_container {
        width: 100%;
    }
}
.welcome_text {
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.welcome_bg {
    position: absolute;
    top: 220px;
    display: flex;
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
}

/* ABOUT */



h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-top: 0.05px;
    position: relative;
}


hr{
    width: 50px;
    height: 1px;  
    background: #0C0C0E; 
    margin-bottom: 40px;
    margin-top: 0;
}

.ab-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
}

.images-items {
    display: flex; 
    position:relative; /*меняется анимация*/
    /* flex-direction: row;
    justify-content: space-beteen;  */
    align-items:center;
    width: 1400px;
    gap: 25px;
    left: -475px;
}


/* Анимация карусели */

@keyframes move-right {
    from {left: -475px;}
    to {left: -950px;}
}

    
.transition-right {
    animation: move-right 5s;
}

@keyframes move-left {
    from {left: -475px;}
    to {left: 0px;}
}

.transition-left {
    animation: move-left 5s;
}



@media (max-width: 780px) {
    .images-items {
        justify-content: space-around;
        width: 728px;
    }
}


.ab-carret-left {
    position: relative;
    width: 24px;
    height: 24px;
    top: 290px;
    background-color: #FFF;
    z-index: 10;
}

.ab-carret-right {
    position: relative;
    width: 24px;
    height: 24px;
    top: -424px;
    right: -1376px;
    background-color: #FFF;
    z-index: 10;
}

.ab-image {   
    /* width: 100%;  /*изменилась анимация*/
    /* height: 100%;  изменилась анимация */
    /* display: none;  изменилась анимация */ */
}

.ab-image.iteme-active {  /*изменилась анимация*/

    /* display: block; изменилась анимация */
}

.images-carousel-wrapper {
    overflow: hidden;
    
}



.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.carousel_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78px;
    padding: 5px;
}

.carousel_5 {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    padding: 5px;
}

@media (max-width: 768px) {
    .carousel_3 {
        display: none;
    }
    .carousel_5 {
        display: flex;
    }
    .image_2, .image_3 {
        display: none;
    }
}

.carousel-button {
    width: 16px;
    height: 16px;
    padding: 0;
    border-radius: 50%;
}

.carousel-button.active:hover {
    background: #BB945F;
}

.carousel-button.active {
    background: #BB945F;
}

.carousel-button {
    background: #0C0C0E;
    cursor:pointer;
}

/* FAVORITES */
.pick {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.radio-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    margin-top: 40px;
    width: 700px;
    height: 24px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.favorites-radio-button {
    margin: 5px;
    accent-color: black;
}

.favorites-label:hover {
    font-weight: bold;
}

/* название после крыжика Winter  выделено жирным */
.label_active { 
    font-weight: bold;
}

.label_inactive {
    font-weight: normal;
}
/*books*/



.staff-picks {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 15px;
}

.favorites-hr {
    margin-left:0;
    background: none;
    margin-bottom: 20px;

}
.book-title {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.book-author {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book-discription {
    width: 355px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-block-start: 20px;
}

.winter {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding-top: 40px;
}

.summer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding-top: 40px;
}

.autumn {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding-top: 40px;
}

.spring {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding-top: 40px;
}

.invisible {
    display: none;
}

@media (max-width: 768px) {
    .winter, .summer, .spring, .autumn {
        /* display: ; */
        justify-content: space-around;
    }
}

.about-book {
    position: relative;
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    background: #FFF;
    padding-left: 20px;
    margin-bottom: 40px;
}

.book-buy {
    position: absolute;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background: none;
    bottom: 15px;
}

.book-buy:hover {
    border: 1px solid #BB945F;
    background: #BB945F;
    cursor: pointer;
}

.book-own:disabled {
}
    
.book-own {
    position: absolute;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #BB945F;
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    bottom: 15px;
}

.book-pic {
    position: absolute;
    left: 390px;
    top: 255px;
    width: 200px;
    height: 300px;
}


/*COFFEE SHOP*/

.coffeShop-text{
    width: 100%;
    height: 120px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    .coffeShop-text {
        width: 728 px;
        height: 200 px;
    }
    
}


/*MENU*/

.coffeshop-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 40px 20px;
    align-items: center;
    background: #FFF;
}

.coffeshop__drinks, .coffeshop__deserts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 438px;
    height: 520px;
}

.coffeshop__deserts {
    text-align: right;

}

@media (max-width: 768px) {
    .coffeshop__deserts {
        padding-left: 246px;
        padding-top: 40px;
    }
}


@media (max-width: 768px) {
    .coffeshop-menu {
        display: block;
        padding-top: 100px
    }
}


caption {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu-line {
    width: 100px;
    height: 1px;
    background: #BB945F;
}

.menu-item {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 257px;
    padding-right: 40px;
}

.menu-price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 91px;
    text-align: end;
}


/*Our Contacts*/

.contact-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 201px;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .contact-block {
        display: inline-block;
    }
    .contact-map {
        padding-top: 100px;
    }
}

/* .contact-info {
    width: 503px;
    height: 380px;
} */

.contact-text-head {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 0;
}
/* a {
    text-decoration: none;
} */

.contact-text-body {
    color: #000;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    /* text-decoration: none; */
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact-list {
    list-style: none;

}
.contact-list-link {
    text-decoration: none;
    color: #000;
}



.contact-person {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contact-person-mail {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
}


.contacts-link-name{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
}


/*Digital Library Cards*/

.library-card-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 51px;
}

@media (max-width: 768px) {
    .library-card-block {
        display: block;
        padding-left: 50px;
    }
}

.find-card {
    width: 600px;
    height: 453px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
}

@media (max-width: 768px) {
    .find-card {
        margin-bottom: 40px;
    }
 }

.find-card-head {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 40px;
}

.white-block {
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    border: 3px solid #BB945F;
    background: #FFF;
    text-align: center;

}

.gold-block {
    display:flex;
    flex-direction: column;

    justify-content: center;

    width: 560px;
    height: 272px;
    flex-shrink: 0;
    background: #BB945F;
    margin: 20px;    
    text-align: left;
}


.button-check-the-card {
    display: inline-flex;
    padding: 10px 40px;
    align-items: flex-end;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #FFF;
}

.button-check-the-card:hover {
    border: 1px solid #BB945F;
    background: #BB945F;
    cursor: pointer;
}

.gold-block-head {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    margin-left: 20px;
    margin-top: 20px;
}

.card-name-number {

}
.name-number {
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    width: 500px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    background: #FFF;
    margin-left: 20px;
    padding-left: 20px;
}


.get-card {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    text-align: center;
    width: 456px;
    height: 253px;
    flex-shrink: 0;
    background-color:#FFF;
}

@media (max-width: 768px) {
    .get-card {
        width: 600px;
        height: 223px;
    }

}

.get-card-header {
    color: #000;
    text-align: right;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

@media (max-width: 768px) {
    .get-card-header {
        text-align: center;
    }
}

.get-card-text {
    width: 456px;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
    text-align: right;
}

@media (max-width: 768px) {
    .get-card-text {
        color:#000000;
        text-align:center;
        vertical-align:text-middle;
        font-size:20px;
        font-family:Inter;
        left:84px;
        top:667px;
        width:600px;
        height:80px;
        letter-spacing:2px;
        line-height:40px;
        border-style:hidden;
        outline:none;   
    }
}

.two-button-get-card {
    display: inline-flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

@media  (max-width: 768px) {
    .two-button-get-card {
        justify-content: center;
    }
}

.button-get-card {
    display: inline-flex;
    flex-direction: row;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;   
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #FFF;
}

.button-get-card:hover {
    border: 1px solid #BB945F;
    background: #BB945F;
    cursor: pointer;
}


/*FOOTER*/
footer {
    height: 250px;
    background-color: #0C0C0E;
}

@media (max-width: 768px) {
    footer {
        width: 100%;
    }
}

.foot-frame-6 {
    display: flex;
    width: calc(100% - 40px);
    /* height: 90px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .foot-frame-6 {

    }
}

.foot-frame-5 {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .foot-frame-5 {
        width: 728px;
        gap: 347px;
    }
}

.adress {
    width: 229px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

.office-hours {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

.foot-frame-4 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
}

@media (max-width: 768px) {
    .foot-frame-4 {
        gap: 476px;
    }
}
.social-networks {

}

.social-networks-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 102px;
    height: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 0;
}

.social-networks-link {

}

.hr-footer {
    width: 1400px;
    height: 1px;
    background: #FFF;
}

@media  (max-width: 768px) {
    .hr-footer {
        width: 728px;
    }
}

.footer-rss {
    width: 100%;
    height: 22px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    .footer-rss {
        width: 728px;
    }
}
.rss-link {
    color: #FFF;
    text-decoration: none;
}

.student-link {
    color: #FFF;
    text-decoration: none;
}
.rss-link:hover {
    color: #BB945F;
    font-style:unset;
 
}

.student-link:hover {
    color: #BB945F;
    font-style:unset;

}



/* for learning JS - DELETE*/
/* .iconProfile {
    cursor: pointer;
} */
